urxvt*scrollBar:	false
urxvt*secondaryScroll:	true
urxvt*saveLines:	65535


URxvt*shading:20
urxvt*background: rgba:0000/0000/0200/c800
URxvt*foreground: #eeeeee

URxvt.font: xft:Source\ Code\ Pro\ Semibold:pixelsize=13:antialias=true:hinting=true,FontAwesome:size=13 

! Imports:
URxvt.perl-ext-common: default,matcher,resize-font,selection-to-clipboard

! Scripting
! Urls:
 
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

URxvt.matcher.rend.0: Uline Bold fg5

! Resize

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! Colors:

*color0:	#282a2e
*color1:	#a54242
*color2:	#8c9440
*color3:	#de935f
*color4:	#5f819d
*color5:	#85678f
*color6:	#5e8d87
*color7:	#707880
*color8:	#373b41
*color9:	#cc6666
*color10:	#b5bd68
*color11:	#f0c674
*color12:	#81a2be
*color13:	#b294bb
*color14:	#8abeb7
*color15:	#c5c8c6

